html *, body * {
    color: var(--text-primary-color);
    font-size: 16px;
}
h2 {
    font-size: 24px;
    animation: Color 4s linear infinite;
    -webkit-animation: Color 4s ease-in-out infinite;
}
@keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}
.shopping-cart *{
    font-size: 14px;
}
.notification-badge {
    font-size: .875em;
}


input {
    color: #000000;
}
.sidebar .nav-link {
    height: 48px;
    border-radius: 12px;
    color: var(--text-inactive-color);
    cursor: pointer;
}

.sidebar .nav-link i {
    margin-right: 20px;
}

.sidebar .sidebar__content .nav-link:hover,
.sidebar .sidebar__content .active
{
    color: var(--text-primary-color);
    background: var(--active-menu);
    box-shadow: inset 0px -2px 1px rgb(0 0 0 / 5%), inset 0px 1px 1px var(--active-box-shadow-menu);
}
.sidebar {
    background-color: var(--top-menu-bg);
    width: 340px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.sidebar > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--text-inactive-color);
}

.sidebar__foot{    
    border-top: 2px solid #F4F4F4
}


.container-content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #f3f3f4;
    max-width: 100vw;
}

.modal-content {
    background: var(--black-border);
    border:1px solid #fff;
}

.menu {
    width: 100%;
    height: 70px;
    min-height: 70px;
    background-color: var(--top-menu-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 42px;
    z-index: 1;
    box-shadow: inset 1px 0px 0px var(--black-border), inset 0 -1px 0px var(--black-border);
}

.menu > div {
    color: gray;
    display: flex;
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.main {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.sidebar {
    background-color: var(--sidebar);;
}



.toolbar > div .active path {
    color: var(--primary-color);
}

.toolbar > div > svg:hover {
    color: var(--primary-color);
    transition: all ease-in-out 0.2s;
}

.toolbar > div > a > svg {
    margin: 30px;
    cursor: pointer;
    color: var(--toolbar-icon-color);
}

svg {
    fill: currentColor;
}

.content-view {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    background: var(--content-view-bg);
}

.hero-block {
    height: 600px;
    width: 80%;
    margin-top: 50px;
    display: flex;
}

.hero-block > div {
    /* flex: 1; */
    width: 50%;
    display: flex;
}

.hero-block > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero-block > div > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.item {
    background-color: gray;
    border-radius: 10px;
    margin: 5px;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
}

.item-detail-hover {
    flex: initial !important;
    transform: inherit;
}

.item-detail-hover > div {
    flex-direction: row !important;
    flex: initial !important;
}

.item > div {
    display: flex;
    flex-direction: column;
    transform: translateY(70px);
    transition: all ease-in-out 0.2s;
}

.item:hover > div {
    transform: translateY(0);
    transition: all ease-in-out 0.5s;
}

.item > div > div {
    height: 70px;
    display: flex;
    background-color: #0000004f;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
}

.item > div > div > div {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}
.item > div > div > div:hover {
    background-color: rgb(255 255 255 / 16%);
}

.item > div > p {
    font-weight: bold;
    margin: 0;
    padding: 0 30px;
}

.item > div > span {
    font-weight: 100;
    opacity: 0.7;
    margin: 10px 0 30px 0;
    padding: 0 30px;
}

.tab-name {
    display: flex;
    width: 80%;
    margin-left: 5px;
}

.tab-name > div {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
}

.tab-name > div:hover {
    transition: all ease-in-out 0.2s;
}

.tab-name .active,
.tab-name .active span {
    border-radius: 12px;
    background-color: var(--button-bg-color);
    color: var(--text-primary-color);
}

.tab-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* padding-top           : 50px; */
    /* display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    flex-grow: 3;
    */
}

.tab-content .item-ref {
    display: block;
    flex: 0 0 calc(33.3333%);
    width: calc(33.3333%);
}
@media screen and (max-width: 768px) {
    .tab-content a {
        display: block;
        flex: 0 0 calc(50%);
        width: calc(50%);
    }
}

.item-discription {
    border-radius: 10px;
    margin: 5px;
    height: 250px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.item-discription:hover {
    box-shadow: 0 10px 100px #00000021;
    z-index: 100;
    transform: translateY(-5px);
    transition: all ease-in-out 0.2s;
}

.item-discription .background {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


.item-discription .view-more {
    flex-basis: 70px;
    display: block;
    justify-content: space-between;
    color: var(--text-primary-color);
    padding: 0 30px;
}

.view-more > div {
    display: flex;
    align-items: center;
}

.slide-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #0000003b;
}

.slide-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    background: #fff;
    z-index: 2;
    height: 100vh;
    box-shadow: 0 0 60px #0000000f;
    display: flex;
    flex-direction: column;
}

.title-icon {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-detail {
    height: 250px;
    border-radius: 10px;
    padding: 30px;
    overflow: hidden;
    color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-detail > div > span {
    font-weight: bold;
    margin: 0;
}

.img-detail > div > p {
    font-weight: 100;
    opacity: 0.7;
}

.btn-white {
    width: fit-content;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000;
}

.slide-bar > div {
    overflow: auto;
    padding: 30px;
}

.user {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
}

.user-dropdown {
    display: none;
    min-width: 200px;
    padding: 20px 0;
    background: #292626;
    position: absolute;
    top: 70%;
    right: 0;
    z-index: 100;
    border-radius: 10px;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    color: var(--dropdown-color);
}
.user-dropdown > * {
    padding: 0 20px;
}
.user-dropdown > p {
    margin: 0 0 5px 0;
    opacity: 0.7;
}
.user-dropdown > span {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    color: var(--text-primary-color);
}

.user:hover .user-dropdown {
    display: flex !important;
    flex-direction: column;
    animation: drop-menu-tab 0.2s;
    animation-fill-mode: both;
    transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.2s;
}

.quick-recharge .user-dropdown {
    align-items: center;
}

.btn-rechange {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--primary-color);
    transition: all ease-in-out 0.2s;
    position: relative;
}
.btn-rechange:hover {
    cursor: pointer;
    background-color: #3f84ff1f;
    transition: all ease-in-out 0.2s;
}
.btn-rechange:hover .user-dropdown {
    display: flex !important;
    flex-direction: column;
    animation: drop-menu-tab 0.2s;
    animation-fill-mode: both;
    transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.2s;
}

a {
    color: unset;
    text-decoration: auto;
}

table thead tr {
    background: #3d7fff;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border-top: none;
    padding: 10px;
    height: 30px;
}
#order-listing {
    padding-top: 10px;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
svg.icon-menu path {
    fill: var(--primary-color);
}
.toolbar > div > a:hover > svg {
    color: var(--primary-color);
}
.card-custom {
    width: 33.3333%;
    border: none;
    background: var(--content-view-bg);
}
.card-custom:hover {
    box-shadow: 5px 5px 15px #000000;
}
.card-header {
    margin-bottom: 0;
    padding-bottom: 0;
    height: 150px;
}
@media screen and (max-width: 1100px) {
    .card-header {
        height: auto;
    }
}
.created_at,
.ratting {
    display: none !important;
}
.select-wrapper input.select-dropdown {
    width: 85%;
    color: var(--content-color);
}
#order-listing_wrapper {
    overflow: auto;
}
.blog-content * {
    line-height: 1.5;
}
.blog-content h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.blog-content br {
    display: block !important;
    margin-bottom: 7px !important;
    content: "A" !important;
}
.blog-content img {
    display: block !important;
    min-width: 50%;
    width: 400px;
    margin: 0 auto;
}
.blog-title {
    border-bottom: 1px dotted #d9d9d9;
    padding-bottom: 10px !important;
}
.head-link {
    display: flex;
    align-items: center;
    height: 50px;
    font-weight: 500;
    overflow: hidden;
}
.head-link i {
    position: relative;
    bottom: -2px;
    color: #9e9e9e !important;
}
.head-link label:hover {
    color: #0d4dff !important;
}
#notice {
    display: flex;
    align-items: center;
}
#notice div {
    animation: blinker 2s linear infinite;
}
#notice > span {
    cursor: pointer;
}

@-webkit-keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

/*css for post*/
.label-tag {
    background-color: #00c0ef !important;
    color: #fff !important;
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    box-sizing: border-box;
}

.post-block {
    /*width     : 80%;*/
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.post-block > div {
    width: 95%;
    display: flex;
    margin: 0 auto;
}

.post-block > div > div {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.post-block > div > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.post-content * {
    line-height: 1.5;
}

.post-content.row .col {
    float: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
    margin: 0 auto !important;
}

.post-content br {
    display: block !important;
    margin-bottom: 7px !important;
    content: "A" !important;
}
.post-content img {
    display: block !important;
    min-width: 50%;
    width: 400px;
    margin: 0 auto;
}
.post-title {
    border-bottom: 1px dotted #d9d9d9;
    padding-bottom: 10px !important;
}
.post-image {
    margin: 20px 0;
}

.pagi {
    width: 95%;
    margin: 0 auto;
}
.like-icon {
    margin-right: 10px !important;
}
.liked-icon {
    color: #0d4dff !important;
}

.select-wrapper svg {
    fill: var(--content-color) !important;
}

.card-container {
    padding: 24px;
    background: var(--sidebar);
    border-radius: 8px;
}

.card-container.content {
    margin: 20px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
}
