[data-theme="dark"] {
    --color-bg: #000000;
    --top-menu-bg: #191c24;
    --border-color: #686d79;
    --top-menu-color: #ffffff;
    --primary-color: #e0e0e0;
    --toolbar-bg-color: #151212;
    --dropdown-color: #fff;
    --text-primary-color: #fff;
    --toolbar-icon-color: #039be5;
    --content-view-bg: #000;
    --footer-bg: #191c24;
    --footer-color: rgba(255, 255, 255, 0.87);
    --top-menu-shadow: #000;
    --content-color: #fff;
    --content-box-bg: #191c24;
}
:root {
    --text-primary-color: #fff;
    --color-bg: #fff;
    --top-menu-bg:#1A1D1F;
    --border-color: #fff;
    --top-menu-color: #000;
    --toolbar-icon-color: #9e9ea7;
    --content-view-bg: #111315;
    --footer-bg: #fff;
    --footer-color: rgba(0,0,0,0.87);
    --top-menu-shadow: #afafaf;
    --content-color: #000;
    --content-box-bg: #fff;
    --sidebar                : #1A1D1F;
    --black-border           : #111315;
    --active-menu            : #272B30;
    --active-box-shadow-menu : rgb(255 255 255 / 11%);
    --primary-color          : #3f84ff;
    --primary-dark-color     : #2f6fdf;
    --third-color            : #3ab778;
    --second-color           : #9e9ea7;
    --body-bg-color          : #f3f3f4;
    --toolbar-bg-color       : #ffffff;
    --button-bg-color        : #272B30;
    --button-icon-color      : #9e9ea7;
    --button-icon-hover-color: #3f84ff;
    --button-bg-hover-color  : rgba(63, 133, 255, 0.103);
    /* --text-primary-color     : #1A1D1F; */
    --text-inactive-color    : #6F767E;
    --text-white-color       : #fff;
    --toast-noti             : #3f84ff;
    --toast-success          : #68D049;
    --toast-warning          : #F89C4B;
    --toast-error            : #E26464;
    --select-bg              : #f3f3f4;
    --select-border          : #f3f3f4;
    --input-check-bg         : #ffffff;
    --input-bg               : #f3f3f4;
    --input-border           : #9e9ea7;
    --input-bg-hover         : #fff;
    --input-border-hover     : rgba(0, 0, 0, 0.1);
    --input-border-active    : rgba(0, 0, 0, 0.1);
    --input-border-focus     : #3f84ff;
    --input-shadow-hover     : #3f84ff1f;
    --input-bg-hover         : #fff;

    --box-shadow  : 0px 10px 50px rgba(0, 0, 0, 0.1);
    --box-shadow-2: 0 30px 28px 0 rgba(0, 0, 0, 0.089), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
